  * {
    background-color: grey;
  }
  nav {
    border-style: solid;
    border-width: 1px;
    background-color: #0C1FC9;
  }
  section {
    border-style: solid;
    border-width: 1px;
  }
  section:first-child {
    background-color: #188C5A;
  }
  section:nth-child(2){
    background-color: #B3146B;
  }
  section:nth-child(3){
    background-color: #95BF0B;
  }
  article {
    border-style: solid;
    border-width: 1px;
  }
  article:nth-child(1){
    background-color: #C9760C;
  }
  article:nth-child(2){
    background-color: #188C5A;
  }
  article:nth-child(3){
    background-color: #95BF0B;
  }
  article:nth-child(4){
    background-color: #0C1FC9;
  }
  footer {
    background-color: #B3146B;
    border-style: solid;
    border-width: 1px;
  }
  @media all and (min-width:768px){
  * {
    background-color: darkgray;
  }
  nav {
    border-style: solid;
    border-width: 1px;
    background-color: #F0BF51;
  }
  section {
    border-style: solid;
    border-width: 1px;
  }
  section:first-child {
    background-color: #4E9FE6;
  }
  section:nth-child(2){
    background-color: #51F097;
  }   
  section:nth-child(3){
    background-color: #BAD955;
  }  
  article {
    border-style: solid;
    border-width: 1px;
  }
  article:first-child {
    background-color: #BAD955;
  }
  article:nth-child(2){
    background-color: #F0BF51;
  }
  article:nth-child(3){
    background-color: #BAD955;
  }
  article:nth-child(4){
    background-color: #4E9FE6;
  }
  footer{
    background-color: #B3533D;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
  }
  }
  @media (min-width: 768px) and (min-height: 1024px) {
  * {
    background-color: chocolate;
  }
}