* {
  box-sizing: border-box;
  text-align: center;
}

@media all and (min-width:480px) and (max-width:767px) {
/*put CSS rules for devices with a max width of 500px*/
* {
  box-sizing: border-box;
  text-align: center;
}
  
}